<!DOCTYPE html>
<html>
<head>
    <title>刷新页面</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <!-- 为了让 Bootstrap 开发的网站对移动设备友好，确保适当的绘制和触屏缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 导入静态文件夹 -->
    {% load staticfiles %}
    <!-- 导入自定义标签 -->
    {#		{% load blog_tags %}#}
    <!-- css -->

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">


    <!-- js -->
    <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
</head>

<body id="bb" style="transition-property: scrollTop;transition-duration: 6s;">
<div id="header-f" class="container">
    <header id="site-header" class="navbar-fixed-top">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="#"><b>刷新</b> &amp; 雷公</a></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="index.html" data-hover="">登录</a></li>
                            <li class="cl-effect-11"><a href="full-width.html" data-hover="">管家入口</a></li>
                            <li class="cl-effect-11"><a href="about.html" data-hover="About">About</a></li>
                            <li class="cl-effect-11"><a href="contact.html" data-hover="Contact">Contact</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                <div id="header-search-box">
                    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="#">
                            <input type="search" placeholder="Search" required>
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
                    </div>
                </div>
            </div><!-- col-md-8 -->
        </div>
    </header>
</div>
<div class="content-body">
    <div class="container">
        <div class="row">
            {#  col-md-10 针对电脑屏幕;  col-sm-10 针对中等屏幕手机或平板; col-xs-10 针对超小屏幕手机     #}
            <main class="col-md-10 col-sm-10 col-xs-10 ">
                {% block main %}
                {% endblock main %}
            </main>
            <div class="col-md-2 col-sm-2 col-xs-2 ">
                {% block div %}
                {% endblock div %}
                {#                <p style="border-left:1px solid black;background-color: #5bc0de;max-height: 100%;">我是侧边栏</p>#}
            </div>

        </div>
    </div>
</div>
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">&copy; 2014 ThemeWagon.com -More Templates <a href="http://www.cssmoban.com/"
                                                                                   target="_blank" title="模板之家">模板之家</a>
                    - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
            </div>
        </div>
    </div>
</footer>

<!-- Mobile Menu -->
{#<div class="overlay overlay-hugeinc">#}
{#    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>#}
{#    <nav>#}
{#        <ul>#}
{#            <li><a href="index.html">Home</a></li>#}
{#            <li><a href="full-width.html">Blog</a></li>#}
{#            <li><a href="about.html">About</a></li>#}
{#            <li><a href="contact.html">Contact</a></li>#}
{#        </ul>#}
{#    </nav>#}
{#</div>#}

<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
