{% extends 'worker_manage/worker_base.html' %}
<!-- 导入静态文件夹 -->
{% load staticfiles %}
{% load production_tags %}
{% block div %}
    <style>
        .img-show {
            height: 50px;
            width: 50px;
        }

    </style>
    <div id="blank" style="height: 600px; background-color: #5bc0de;margin-top: 60px;">
        <div class="list-group">
            <div class="list-group-item active">
                <h4 class="list-group-item-heading">
                    新增服务
                </h4>
            </div>
            <form action="{% url 'worker_manage:add_service-url' worker_pk %}" method="post" enctype="multipart/form-data" role="form"
                  class="list-group-item service-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.image.id_for_label }}">头像</label>
                    {{ form.image }}
                    {{ form.image.errors }}

                </div>
                {#                <img src="{% static 'imgs/head.png' %}" class="img-responsive img-show"#}
                {#                     alt="Responsive image">#}
                <div class="form-group">
                    <label for="{{ form.name.id_for_label }}">服务名称</label>
                    {{ form.name }}
                    {{ form.name.errors }}
                    {#                    <input style="display: inline;" value="{{ service.name }}" type="text">#}
                </div>
                <div class="form-group">
                    <label for="{{ form.worker.id_for_label }}">管家名称</label>
                    {{ form.worker }}
                    {{ form.worker.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.price.id_for_label }}">价格区间</label>
                    {{ form.price }}
                    {{ form.price.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.describe.id_for_label }}">简介</label>
                    {{ form.describe }}
                    {{ form.describe.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.scope.id_for_label }}">服务范围</label>
                    {{ form.scope }}
                    {{ form.scope.errors }}
                    {#                    <input style="display: inline;" value="{{ service.scope }}" type="text">#}
                </div>
                <div class="form-group">
                    <label for="{{ form.type.id_for_label }}">服务类型</label>
                    {{ form.type }}
                    {{ form.type.errors }}
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox">请打勾
                    </label>
                </div>
                <button type="submit" class="btn btn-default">提交</button>
            </form>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">
                    商务网站包
                </h4>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">
                    免费域名注册
                </h4>
                <p class="list-group-item-text">
                    您将通过网页进行免费域名注册。
                </p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">24*7 支持</h4>
                <p class="list-group-item-text">我们提供 24*7 支持。</p>
            </a>
        </div>

    </div>

    <script type="text/javascript">
        var service = {{ service|safe }};
        $(document).ready(function () {


        });
    </script>

{% endblock %}