{% extends 'worker_manage/worker_base.html' %}
<!-- 导入静态文件夹 -->
{% load staticfiles %}
{% load production_tags %}
{% block div %}
    <style>
        .img-show {
            height: 50px;
            width: 50px;
        }

    </style>
    <div id="blank" style="height: 600px; background-color: #5bc0de;margin-top: 60px;">
        <form action="{% url 'worker_manage:edit_service-url' service_pk %}" method="post"
              enctype="multipart/form-data" role="form"
              class="list-group-item service-form form-service">
            {% csrf_token %}
            <div class="list-group">
                <div class="list-group-item active">
                    <h4 class="list-group-item-heading">
                        编辑服务
                    </h4>
                </div>

                <div class="form-group">
                    <label for="{{ form.image.id_for_label }}">头像</label>
                    {{ form.image }}
                    {{ form.image.errors }}

                </div>
                <div class="form-group">
                    <label for="{{ form.name.id_for_label }}">服务名称</label>
                    {{ form.name }}
                    {{ form.name.errors }}
                    {#                    <input style="display: inline;" value="{{ service.name }}" type="text">#}
                </div>
                <div class="form-group" style="display: none;">
                    <label for="{{ form.worker.id_for_label }}">管家名称</label>
                    {{ form.worker }}
                    {{ form.worker.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.price.id_for_label }}">价格区间</label>
                    {{ form.price }}
                    {{ form.price.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.describe.id_for_label }}">简介</label>
                    {{ form.describe }}
                    {{ form.describe.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.scope.id_for_label }}">服务范围</label>
                    {{ form.scope }}
                    {{ form.scope.errors }}
                    {#                    <input style="display: inline;" value="{{ service.scope }}" type="text">#}
                </div>
                <div class="form-group">
                    <label for="{{ form.type.id_for_label }}">服务类型</label>
                    {{ form.type }}
                    {{ form.type.errors }}
                </div>

                <button type="submit" class="btn btn-danger">提交</button>
                {#            </form>#}
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">
                        服务子项
                    </h4>
                </a>
                {% for form_item in form_item_list %}
                    {#                <form action="{% url 'worker_manage:post_service_item-url' worker_pk service_pk form_item.pk %}"#}
                    {#                      method="post"#}
                    {#                      enctype="multipart/form-data" role="form"#}
                    {#                      class="list-group-item service-form form_item">#}
                    {#                    {% csrf_token %}#}
                    <div class="form-group">
                        <label for="{{ form_item.image.id_for_label }}">头像</label>
                        {{ form_item.image }}
                        {{ form_item.image.errors }}

                    </div>
                    <div class="form-group">
                        <label for="{{ form_item.name.id_for_label }}">服务名称</label>
                        {{ form_item.name }}
                        {{ form_item.name.errors }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form_item.price.id_for_label }}">价格区间</label>
                        {{ form_item.price }}
                        {{ form_item.price.errors }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form_item.describe.id_for_label }}">简介</label>
                        {{ form_item.describe }}
                        {{ form_item.describe.errors }}
                    </div>
                    <button id="post-item-able" type="submit" class="btn btn-danger">提交</button>


                {% endfor %}
                <button id="post-item-all" class="btn btn-danger">全部提交</button>

            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            {#            $("#post-item-all").click(function () {#}
            {#                var t = $("form");#}
            {#                var e = $(".form-service");#}
            {#                e01 = e[0];#}
            {##}
            {#                var r = $(".form_item");#}
            {#                r01 = r[0];#}
            {##}
            {#                r01.submit();#}
            {#                e01.submit();#}
            {#                var d = 0;#}
            {#            });#}

        });
    </script>

{% endblock %}