{% extends 'base.html' %}
<!-- 导入静态文件夹 -->
{% load staticfiles %}
{% load production_tags %}
{% block main %}
    <p style="margin-top: 100px;">垂直的胶囊式导航菜单</p>
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">SVN</a></li>
        <li><a href="#">iOS</a></li>
        <li><a href="#">VB.Net</a></li>
        <li><a href="#">Java</a></li>
        <li><a href="#">PHP</a></li>
    </ul>
    <script type="text/javascript">
        {# 初始化,全屏#}
        $(document).ready(function () {
            $('main').removeClass("col-md-10 col-sm-10 col-xs-10 ");
            $('main').addClass("col-md-12 col-sm-12 col-xs-12 ");
        });
    </script>
{% endblock main %}