{% extends 'worker_manage/worker_base.html' %}
<!-- 导入静态文件夹 -->
{% load staticfiles %}
{% load production_tags %}
{% block div %}
    <div id="blank" style="height: 600px; background-color: #5bc0de;margin-top: 60px;">

    </div>
    <script type="text/javascript">
        var worker_pk = {{ worker_pk|safe }}
            $(document).ready(function () {
                var error = false;//访问失败后, 可以再次点击而访问网络
                function getTabHtml(index) {
                    $.post("/tab_manage/", {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        index: index,
                        worker_pk: worker_pk
                    }, function (data, status) {
                        if (status === 'success') {
                            $("#blank").html(data);
                            error = false;
                        } else {
                            error = true;
                        }
                    });
                }

                var mIndex = 0;
                //初始化,tab为第一个
                getTabHtml(mIndex);

                $("li.tab").click(function () {
                        var index = $(this).index();
                        $("li.tab").removeClass("active");
                        $(this).addClass("active");
                        if (index !== mIndex || error) {
                            mIndex = index;
                            getTabHtml(mIndex);
                        }
                    }
                );
                {# todo 点击完成按钮时,首先改变form的action属性值,然后会跳转到该属性指定的值#}
                {#                $("#finish").click(function () {#}
                {#                    document.getElementById("form01").action = "{% url 'worker_manage:edit_service_finish-url' service_pk %}";#}
                {#                });#}

            });
    </script>

{% endblock %}