<!-- 导入静态文件夹 -->
{% load staticfiles %}
<!-- 导入自定义标签 -->
{#		{% load blog_tags %}#}
<div class="panel panel-default">
    <div class="panel-heading" style="display: flex;justify-content: space-between;">
        <h3 class="panel-title">服务列表</h3>
        <a style="margin-right: 60px;" href="{% url 'worker_manage:add_service-url' worker.pk %}" data-hover="">新增服务</a>
    </div>
    <table class="table">
        <th>名称</th>
        <th>价格</th>
        <th>类型</th>
        <th>区域</th>
        <th>编辑</th>
        <th>删除</th>
        {% for service in services %}

            <tr class="ch">
                <td>{{ service.name }}</td>
                <td>{{ service.price }}</td>
                <td>{{ service.type }}</td>
                <td>{{ service.scope }}</td>
                <td>
                    <a href="{{ service.get_absolute_url_by_worker }}">
                        <img style="height: 20px;" src="{% static 'imgs/edit.png' %}"/>
                    </a>
                </td>
                <td>
                    {#                     <a id="delete" href="{% url 'worker_manage:delete_service-url' worker.pk service.pk %}">#}
                    {#                        删除#}
                    {#                    </a>#}
                    {#                    <div id="delete">#}
                    {#                        删除#}
                    {#                    </div>#}
                    {#                    <p id="delete" class="btn btn-danger">删除</p>#}
                    <a type="button" class="order btn btn-warning" data-toggle="modal"
                       data-target="#myModal">删除</a>
                </td>
            </tr>

        {% endfor %}
    </table>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-center" id="myModalLabel">确定删除吗?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                    <button type="submit" id="confirm" class="btn btn-danger">删除</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <script type="text/javascript">
        var index = 0;
        var worker_pk = {{ worker}};
        var service_pk = 0;
        $(document).ready(function () {
            $(".order").click(function () {
                index = $(this).parents(".ch").index()
                service_pk = services[index]
            });
            $("#confirm ").click(function () {
                $.get("{% url 'worker_manage:delete_service-url' worker.pk 5 %}", {}, function () {
                });
                return false;
            });
            {#            $('#myModal').on('hidden.bs.modal', function () {#}
            {#                $("#myModalLabel").html("立即预约");#}
            {#                $(".modal-body").css("display", "inherit");#}
            {#                $(".modal-footer").css("display", "inherit");#}
            {#            });#}
            {#            $("#delete").click(function () {#}
            {#                alert("删除吗?")#}
            {#            });#}
        });
    </script>
</div>
